/*************************************************************************************************************************************
   # RESPONSIVENESS
*************************************************************************************************************************************/
@media only screen and (max-width: 1908px) {
   .our-equipement__flex-item-title span {
      width: 80%;
   }

}

@media only screen and (max-width: 1809px) {
   .our-clients__flex-item-img {
      width: 300px;
      height: 300px;
   }
}

@media only screen and (max-width: 1751px) {
   .our-clients__flex-item {
      flex: 0 0 50%;
   }

}

@media only screen and (max-width: 1577px) {
   .our-clients__flex-item-img {
      width: 280px;
      height: 280px;
   }
}

@media only screen and (max-width: 1613px) {
   .head__main-img {
      width: 600px;
      height: 475px;
   }

   .head__main-title {
      width: 60%;
      font-size: 46px;
   }

   .head__main-subtitle {
      font-size: 26px;
   }

   .head__main button {
      font-size: 18px;
   }

   .our-clients__slider-item {
      flex: 0 0 45%;
      display: flex;
      justify-content: center;
   }

   .est { display: none; }

}

@media only screen and (max-width: 1581px) {
   .our-equip__flex-item {
      flex: 0 0 50%;
   }

   .our-equip__flex {
      gap: 80px;  
   }
}

@media only screen and (max-width: 1528px) {
   .head__main-title {
      width: 53%;
      font-size: 46px;
   }
}

@media only screen and (max-width: 1504px) {
   .our-equipement__flex-item-title span {
      width: 90%;
   }
}

@media only screen and (max-width: 1489px) {
   .our-clients__flex-item-img {
      width: 260px;
      height: 260px;
   }
}

@media only screen and (max-width: 1440px) {
   .certificates__flex-item {
      flex: 0 0 33%;
      gap: 210px;
   }

}

@media only screen and (max-width: 1413px) {
   .head__main-img {
      width: 566px;
      height: 441px;
   }

   .head__main-title {
      width: 50%;
      font-size: 43px;
   }

   .head__main-subtitle {
      font-size: 24px;
   }
}

@media only screen and (max-width: 1396px) {
   .our-clients__flex-item-img {
      width: 230px;
      height: 230px;
   }

   .prev-arrow {
      left: -12px;
   }
}

@media only screen and (max-width: 1370px) {
   .our-equipement__flex-item-title span {
      width: 100%;
   }

   .our-equipment__flex-item-img {
      width: 300px;
      height: 243px;
   }

   .our-equipment-img {
      width: 80%;
      height: 80%;
   }
}

@media only screen and (max-width: 1300px) {
   .head__main-img {
      width: 532px;
      height: 407px;
   }

   .head__main-title {
      width: 50%;
      font-size: 39px;
   }

   .head__main-subtitle {
      font-size: 22px;
   }

   .head__main button {
      font-size: 17px;
   }
}

@media only screen and (max-width: 1280px) {
   .footer__inner {
      justify-content: flex-start;
      flex-direction: column;
   }

   .footer__logo {
      margin-bottom: 68px;
   }

   .footer__right {
      justify-content: space-between;
      gap: 0;
      margin-bottom: 68px;
   }

   .certificates__flex-item {
      flex: 0 0 33.3%;
      gap: 280px;
   }

}

@media only screen and (max-width: 1258px) {
   .head__main-img {
      width: 470px;
      height: 345px;
   }

   .head__main-title {
      width: 60%;
      font-size: 34px;
      line-height: 48px;
   }

   .head__main-subtitle {
      font-size: 19px;
   }

   .head__main button {
      font-size: 17px;
   }


}


@media only screen and (max-width: 1256px) {
   .our-clients__flex-item-img {
      width: 200px;
      height: 200px;
   }
}

@media only screen and (max-width: 1200px) {
   .our-equipment__flex-item-img {
      width: 260px;
      height: 203px;
   }

   #karcher-gray {
      width: 151px;
      height: 184px;
   }
}

@media only screen and (max-width: 1193px) {   
   .certificates__flex-item {
      flex: 0 0 50%;
      gap: 280px;
   }
}

@media only screen and (max-width: 1168px) {
   .head__main-title {
      width: 52%;
      font-size: 34px;
      line-height: 48px;
   }

   .head__main-img {
      width: 420px;
      height: 325px;
   }

}

@media only screen and (max-width: 1059px) {
   .head__main-title {
      width: 60%;
   }  
    
   .head__main-img {
      width: 393px;
      height: 312px;
   }

   .services__flex-item {
      flex: 50%;
   }

}


@media only screen and (max-width: 900px) {
   .head__header {  
      flex-direction: column;
   }
   
   .head__header-logo {
      display: flex;
      justify-content: center;

      margin-bottom: 40px;
   }

   .head__header-info {
      justify-content: center;
   }

   .head__main-img {
      position: absolute;
      right: 0;
      top: -20%;
   }

   .footer__right {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
   }

   .footer__right-sections, .footer__right-address, .footer__right-contacts {
      flex: 0 0 48%;
      margin-bottom: 42px;
   }

   .footer__right-contacts-social-icons {
      margin-top: 66px;
      margin-bottom: 64px;
   }



}

@media only screen and (max-width: 880px) {
   .head__main-img { display: none; }
   .head__main-woman-img { display: block; }

   .head__main-title {
      width: 70%;
   }

}

@media only screen and (max-width: 876px) {
   .our-clients__flex-item {
      flex: 0 0 100%;
   }  
}

@media only screen and (max-width: 1256px) {

   .next-arrow {
      right: -12px;
   }
}

@media only screen and (max-width: 816px) {
   .certificates__flex {
      gap: 122px;
   }
   
}

@media only screen and (max-width: 768px) {
   .certificates__flex-item {
      flex: 0 0 100%;
      gap: 0;
   }
}

@media only screen and (max-width: 771px) {
   .head__main-title {
      width: 80%;
   }
}

@media only screen and (max-width: 690px) {
   .head__main-title {
      position: absolute;
      z-index: 4;
   }

   .head__main-subtitle {
      position: absolute;
      z-index: 4;
      top: 136px;
   }

   .head__main-woman-img {   
      z-index: 2;
   }

   .head__main button {
      position: absolute;
      z-index: 4;
      top: 207px;
   }

   .services__inner {
      padding-top: 142px;
   }

   .services__flex-item {
      flex: 100%;
   }

   .services__btn button {
      font-size: 17px;
   }

   .services__flex-item-txt p {
      width: 80%;
   }
}

@media only screen and (max-width: 600px) {
   .head__header {  
      flex-direction: row;
      justify-content: left;
      margin-bottom: 118px;
   }

   .head__header-info {
      width: 100%;
      position: absolute;
      justify-content: space-evenly;
      bottom: 0;
      transition: 0.32s ease-in-out;
      opacity: 0;
      gap: 32px;

   }

   .head__header-info.active {
      bottom: -48px;
      display: flex;
      opacity: 1;
      z-index: 5;

   }


   .head__header-mobile {
      display: flex;
      flex-direction: column;
      gap: 13px;
   }

   .head__main-woman-img {   
      z-index: 2;
   }

   .head__main-img-overlay {
      width: 100%;
      height: 395px;
      background: var(--white);
      opacity: 0.64;
      position: absolute;
      z-index: 3;

   }

   .our-equip__flex-item {
      flex: 0 0 100%;
   }

   .our-equipement__flex-item-title span {
      width: 80%;
   }

}

@media only screen and (max-width: 555px) {
   .footer__right-sections, .footer__right-address, .footer__right-contacts {
      flex: 0 0 100%;
   }

   .footer__right-contacts-title {
      justify-content: left;
   }

}

@media only screen and (max-width: 500px) {
   .head__header-info { 
      flex-direction: column;
      gap: 26px;
      left: 0;
   }

   .head__header-info {
      bottom: -60px;
      opacity: 0;
   }

   .head__header-info.active {
      bottom: -110px;
      z-index: 6;

      opacity: 1;
   }

   .overlay.active {
      opacity: 0.9;
      z-index: 5;

   }

   .head__header-mobile {
     gap: 10px;
   }

   .header-mobile-line {
      width: 36px;
   }

   .logo {
      width: 118px;
      height: 66px;

   }

   .head__header-mobile.active .line-first { transform: translateY(13px) rotate(45deg); }
   .head__header-mobile.active .line-second { visibility: hidden; transition: 0.01s; }
   .head__header-mobile.active .line-third { transform: translateY(-13px) rotate(-45deg); }
   

}

@media only screen and (max-width: 493px) {
   .head__main-title {
      width: 100%;
   }

   .our-clients__flex-item {
      flex: 0 0 100%;
      margin-bottom: 60px;
   
      display: flex;
      justify-content: center;
   }

   .aristan {
      width: 286px;
      height: 50px;
   }

   .amanat {
      width: 284px;
      height: 78px;
   }

   .jando {
      width: 245px;
      height: 73px;
   }

   .est {
      width: 245px;
      height: 73px;      
   }
}

@media only screen and (max-width: 468px) {
   .our-equipement__flex-item-title span {
      width: 60%;
   }
}

@media only screen and (max-width: 468px) {
   .our-equipement__flex-item-title span {
      width: 86%;
   }
}

@media only screen and (max-width: 413px) {
   .head__main-subtitle {
      top: 154px;
      line-height: 28px;
   }

   .head__main button {
      position: absolute;
      z-index: 4;
      top: 247px;
   }
}

@media only screen and (max-width: 395px) {
   .head__main-title {
      font-size: 30px;
      line-height: 42px;
   }

   .head__main-subtitle {
      top: 144px;
      font-size: 18px;
   }
}

@media only screen and (max-width: 348px) {
   .head__main-title {
      font-size: 26px;
      line-height: 42px;
   }

   .head__main-subtitle {
      top: 144px;
      font-size: 18px;
   }
}
