/*************************************************************************************************************************************
   # RESPONSIVENESS
*************************************************************************************************************************************/
@media only screen and (max-width: 1908px) {
   .our-equipement__flex-item-title span {
      width: 80%;
   }

}

@media only screen and (max-width: 1809px) {
   .our-clients__flex-item-img {
      width: 300px;
      height: 300px;
   }

}

@media only screen and (max-width: 1751px) {
   .our-clients__flex-item {
      flex: 0 0 50%;
   }

}

@media only screen and (max-width: 1720px) {
   .head-hero__title span {
      width: 52%;
   }

   .btn-primary {
      font-size: 18px;
   }
}

@media only screen and (max-width: 1577px) {
   .our-clients__flex-item-img {
      width: 280px;
      height: 280px;
   }
}

@media only screen and (max-width: 1613px) {
   .head__main-img {
      width: 600px;
      height: 475px;
   }

   .head__main-title {
      width: 60%;
      font-size: 46px;
   }

   .head__main-subtitle {
      font-size: 26px;
   }

   .head__main button {
      font-size: 18px;
   }

   .our-clients__slider-item {
      flex: 0 0 45%;
      display: flex;
      justify-content: center;
   }

   .est { display: none; }


}

@media only screen and (max-width: 1600px) {
   .logo {
      width: 115px;
      height: 66px;
   }

   .header-menu {
      gap: 38px;
   }
   
   .header-menu a {
      font-size: 14px;
      line-height: 21px;
   }
   
   .header-group {
      gap: 47px;
   }
   
   .header-group__working-hours {
      gap: 12px;
   }
   
   
   .working-hours-txt {
      font-size: 14px;
      line-height: 21px;
   }

   .header-group-img {
      width: 36px;
      height: 35px;
   }

   .head-hero__title {
      font-size: 42px;
      line-height: 51px;
   }

   .head-hero__subtitle {
      font-size: 25px;
      line-height: 31px;
   }

   #hero-png {
      width: 553px;
      height: 449px;
   }

   .btn-primary {
      font-size: 17px;
      padding: 14px 74px;
   }
}

@media only screen and (max-width: 1581px) {
   .our-equip__flex-item {
      flex: 0 0 50%;
   }

   .our-equip__flex {
      gap: 80px;  
   }
}

@media only screen and (max-width: 1528px) {
   .head__main-title {
      width: 53%;
      font-size: 46px;
   }
}

@media only screen and (max-width: 1520px) {
   .feedback__title {
      font-size: 20px;
   }

   .feedback-img {
      width: 238px;
      height: 420px;
   }

   .logo {
      width: 109px;
      height: 63px;
   }


   .header-menu {
      gap: 38px;
   }
   
   .header-menu a {
      font-size: 14px;
      line-height: 21px;
   }
   
   .header-group {
      gap: 37px;
   }
   
   .header-group__working-hours {
      gap: 12px;
   }
   
   
   .working-hours-txt {
      font-size: 14px;
      line-height: 21px;
   }

   .head-hero__title {
      font-size: 40px;
      line-height: 48px;
   }

   .head-hero__subtitle {
      font-size: 24px;
      line-height: 29px;
   }

   #hero-png {
      width: 526px;
      height: 427px;
   }

   .btn-primary {
      font-size: 16px;
      padding: 13px 70px;
   }

}

@media only screen and (max-width: 1504px) {
   .our-equipement__flex-item-title span {
      width: 90%;
   }
}

@media only screen and (max-width: 1489px) {
   .our-clients__flex-item-img {
      width: 260px;
      height: 260px;
   }
}

@media only screen and (max-width: 1440px) {
   .certificates__flex-item {
      flex: 0 0 33%;
      gap: 210px;
   }

   .feedback__title {
      font-size: 19px;
   }

   .feedback-img {
      width: 225px;
      height: 398px;
   }

   .head-services-bg-transparent {
      top: 490px;
   }

   .equip-cert-bg-transparent {
      top: 49%;
   }

   .logo {
      width: 103px;
      height: 59px;
   }


   .header-menu {
      gap: 38px;
   }
   
   .header-menu a {
      font-size: 13px;
      line-height: 21px;
   }
   
   .header-group {
      gap: 35px;
   }
   
   .header-group__working-hours {
      gap: 12px;
   }
   
   .working-hours-txt {
      font-size: 13px;
      line-height: 21px;
   }

   .header-group-img {
      width: 32px;
      height: 31px;
   }


   .head-hero__title {
      font-size: 38px;
      line-height: 46px;
   }

   .head-hero__subtitle {
      font-size: 23px;
      line-height: 28px;
   }

   #hero-png {
      width: 498px;
      height: 404px;
   }

   .btn-primary {
      font-size: 15px;
      padding: 13px 67px;
   }

   .head {
      padding-block-end: 280px; 
   }

}

@media only screen and (max-width: 1413px) {
   .head__main-img {
      width: 566px;
      height: 441px;
   }

   .head__main-title {
      width: 50%;
      font-size: 43px;
   }

   .head__main-subtitle {
      font-size: 24px;
   }
}

@media only screen and (max-width: 1396px) {
   .our-clients__flex-item-img {
      width: 230px;
      height: 230px;
   }

   .prev-arrow {
      left: -12px;
   }
}

@media only screen and (max-width: 1370px) {
   .our-equipement__flex-item-title span {
      width: 100%;
   }

   .our-equipment__flex-item-img {
      width: 300px;
      height: 243px;
   }

   .our-equipment-img {
      width: 80%;
      height: 80%;
   }
}

@media only screen and (max-width: 1360px) {
   .logo {
      width: 98px;
      height: 56px;
   }


   .header-menu {
      gap: 38px;
   }
   
   .header-menu a {
      font-size: 12px;
      line-height: 21px;
   }
   
   .header-group {
      gap: 33px;
   }
   
   .header-group__working-hours {
      gap: 12px;
   }
   
   .working-hours-txt {
      font-size: 12px;
      line-height: 21px;
   }

   .header-group-img {
      width: 30px;
      height: 29px;
   }

   .head-hero__title {
      font-size: 35px;
      line-height: 43px;
   }

   .head-hero__subtitle {
      font-size: 21px;
      line-height: 26px;
   }

   #hero-png {
      width: 470px;
      height: 382px;
   }

   .btn-primary {
      font-size: 14px;
      padding: 12px 63px;
   }

   .head {
      padding-block-end: 240px; 
   }
}

@media only screen and (max-width: 1300px) {
   .head__main-img {
      width: 532px;
      height: 407px;
   }

   .head__main-title {
      width: 50%;
      font-size: 39px;
   }

   .head__main-subtitle {
      font-size: 22px;
   }

   .head__main button {
      font-size: 17px;
   }
}

@media only screen and (max-width: 1280px) {
   .footer__inner {
      justify-content: flex-start;
      flex-direction: column;
   }

   .footer__logo {
      margin-bottom: 68px;
   }

   .footer__right {
      justify-content: space-between;
      gap: 0;
      margin-bottom: 68px;
   }

   .certificates__flex-item {
      flex: 0 0 33.3%;
      gap: 280px;
   }

   .feedback__title {
      font-size: 17px;
   }

   .head-services-bg-transparent {
      top: 450px;
   }

   .equip-cert-bg-transparent {
      top: 52%;
   }

   .logo {
      width: 92px;
      height: 53px;
   }


   .header-menu {
      gap: 38px;
   }
   
   .header-menu a {
      font-size: 11px;
      line-height: 21px;
   }
   
   .header-group {
      gap: 31px;
   }
   
   .header-group__working-hours {
      gap: 12px;
   }
   
   .working-hours-txt {
      font-size: 11px;
      line-height: 21px;
   }

   .header-group-img {
      width: 28px;
      height: 27px;
   }


   .head-hero__title {
      font-size: 33px;
      line-height: 41px;
   }

   .head-hero__subtitle {
      font-size: 20px;
      line-height: 25px;
   }

   #hero-png {
      width: 443px;
      height: 359px;
   }

   .btn-primary {
      font-size: 13px;
      padding: 11px 59px;
   }

   .head {
      padding-block-end: 220px; 
   }

}

@media only screen and (max-width: 1128px) {
   .feedback-img {
      width: 200px;
      height: 354px;
   }
}

@media only screen and (max-width: 1258px) {
   .head__main-img {
      width: 470px;
      height: 345px;
   }

   .head__main-title {
      width: 60%;
      font-size: 34px;
      line-height: 48px;
   }

   .head__main-subtitle {
      font-size: 19px;
   }

   .head__main button {
      font-size: 17px;
   }


}


@media only screen and (max-width: 1256px) {
   .our-clients__flex-item-img {
      width: 200px;
      height: 200px;
   }
}

@media only screen and (max-width: 1200px) {
   .our-equipment__flex-item-img {
      width: 260px;
      height: 203px;
   }

   #karcher-gray {
      width: 151px;
      height: 184px;
   }
}

@media only screen and (max-width: 1193px) {   
   .certificates__flex-item {
      flex: 0 0 50%;
      gap: 280px;
   }
}

@media only screen and (max-width: 1168px) {
   .head__main-title {
      width: 52%;
      font-size: 34px;
      line-height: 48px;
   }

   .head__main-img {
      width: 420px;
      height: 325px;
   }

}

@media only screen and (max-width: 1059px) {
   .head__main-title {
      width: 60%;
   }  
    
   .head__main-img {
      width: 393px;
      height: 312px;
   }

   .services__flex-item {
      flex: 50%;
   }

}

@media only screen and (max-width: 1024px) {
   .feedback__title {
      margin-bottom: 44px;
   }

   .feedback__flex-item {
      flex: 0 0 33%;
   }

   .feedback-img {
      width: 238px;
      height: 420px;
   }

   .logo {
      width: 74px;
      height: 42px;
   }

   .header-menu {
      display: none;
   }
   
   .header-group {
      display: none;
   }
   
   .nav-open-btn {
      display: block;
      font-size: 28px;
   }

   .head-hero__title {
      font-size: 27px;
      line-height: 33px;
   }

   .head-hero__subtitle {
      font-size: 16px;
      line-height: 20px;
   }

   #hero-png {
      width: 354px;
      height: 287px;
   }

   .btn-primary {
      font-size: 11px;
      padding: 9px 47px;

   }

}


@media only screen and (max-width: 900px) {
   .head__header {  
      flex-direction: column;
   }
   
   .head__header-logo {
      display: flex;
      justify-content: center;

      margin-bottom: 40px;
   }

   .head__header-info {
      justify-content: center;
   }

   .head__main-img {
      position: absolute;
      right: 0;
      top: -20%;
   }

   .footer__right {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
   }

   .footer__right-sections, .footer__right-address, .footer__right-contacts {
      flex: 0 0 48%;
      margin-bottom: 42px;
   }

   .footer__right-contacts-social-icons {
      margin-top: 66px;
      margin-bottom: 64px;
   }

   .feedback__flex-wrapper {
      display: none;
   }

   .feedback-img {
      width: 191px;
      height: 367px;
   }

   .head-services-bg-transparent {
      top: 560px;
   }

   .equip-cert-bg-transparent {
      top: 52%;
   }

   .head {
      padding-bottom: 260px;
   }


}

@media only screen and (max-width: 880px) {
   .head__main-img { display: none; }
   .head__main-woman-img { display: block; }

   .head__main-title {
      width: 70%;
   }

   .head-services-bg-transparent {
      top: 680px;
   }

   .equip-cert-bg-transparent {
      top: 52%;
   }

   .head {
      padding-bottom: 260px;
   }

}

@media only screen and (max-width: 876px) {
   .our-clients__flex-item {
      flex: 0 0 100%;
   }  
}

@media only screen and (max-width: 820px) {
   .feedback-img {
      width: 300px;
      height: 531px;
   }
}

@media only screen and (max-width: 1256px) {

   .next-arrow {
      right: -12px;
   }
}

@media only screen and (max-width: 816px) {
   .certificates__flex {
      gap: 122px;
   }
   
}

@media only screen and (max-width: 880px) {
   .hero-img { display: none; }
   .hero-img-mobile {
      display: block;
   } 

   .head-hero__title span {
      width: 80%;
   }

}

@media only screen and (max-width: 768px) {
   .certificates__flex-item {
      flex: 0 0 100%;
      gap: 0;
   }

}

@media only screen and (max-width: 771px) {
   .head__main-title {
      width: 80%;
   }
}

@media only screen and (max-width: 690px) {
   .head {
      margin-bottom: 240px;
   }
   
   .head__main-title {
      position: absolute;
      z-index: 4;
   }

   .head__main-subtitle {
      position: absolute;
      z-index: 4;
      top: 136px;
   }

   .head__main-woman-img {   
      z-index: 2;
   }

   .head__main button {
      position: absolute;
      z-index: 4;
      top: 207px;
   }

   .head {
      padding-block-end: 60px; 
   }

   .services__inner {
      padding-top: 0;
   }

   .services__flex-item {
      flex: 100%;
   }

   .services__btn button {
      font-size: 17px;
   }

   .services__flex-item-txt p {
      width: 80%;
   }
}

@media only screen and (max-width: 600px) {
   .head__header {  
      flex-direction: row;
      justify-content: left;
      margin-bottom: 118px;
   }

   .head__header-info {
      width: 100%;
      position: absolute;
      justify-content: space-evenly;
      bottom: 0;
      transition: 0.32s ease-in-out;
      opacity: 0;
      gap: 32px;

   }

   .head__header-info.active {
      bottom: -48px;
      display: flex;
      opacity: 1;
      z-index: 5;

   }


   .head__header-mobile {
      display: flex;
      flex-direction: column;
      gap: 13px;
   }

   .head__main-woman-img {   
      z-index: 2;
   }

   .head__main-img-overlay {
      width: 100%;
      height: 395px;
      background: var(--white);
      opacity: 0.64;
      position: absolute;
      z-index: 3;

   }

   .our-equip__flex-item {
      flex: 0 0 100%;
   }

   .our-equipement__flex-item-title span {
      width: 80%;
   }

   .feedback-slider-arrow-left {
      position: absolute;
      top: 20%;
      left: -15px;
   }
   
   .feedback-slider-arrow-right {
      position: absolute;
      top: 20%;
      right: -15px;
   
   }

   .head-services-bg-transparent {
      display: none;
   }

   .equip-cert-bg-transparent {
      display: none;
   }

   .droplets-top-wrapper {
      top: -20px;
   }

   .droplets-top {
      width: 233px;
      height: 225px;
   }

   .droplets-bottom {
      width: 186px;
      height: 149px;
   }

}

@media only screen and (max-width: 555px) {
   .footer__right-sections, .footer__right-address, .footer__right-contacts {
      flex: 0 0 100%;
   }

   .footer__right-contacts-title {
      justify-content: left;
   }

}

@media only screen and (max-width: 493px) {
   .head__main-title {
      width: 100%;
   }

   .our-clients__flex-item {
      flex: 0 0 100%;
      margin-bottom: 60px;
   
      display: flex;
      justify-content: center;
   }

   .aristan {
      width: 286px;
      height: 50px;
   }

   .amanat {
      width: 284px;
      height: 78px;
   }

   .jando {
      width: 245px;
      height: 73px;
   }

   .est {
      width: 245px;
      height: 73px;      
   }
}

@media only screen and (max-width: 468px) {
   .our-equipement__flex-item-title span {
      width: 60%;
   }
}

@media only screen and (max-width: 468px) {
   .our-equipement__flex-item-title span {
      width: 86%;
   }

   .droplets-top-wrapper {
      top: -20px;
   }

   .droplets-top {
      width: 233px;
      height: 225px;
   }

   .droplets-bottom {
      width: 145px;
      height: 116px;
   }
}

@media only screen and (max-width: 428px) {
   .feedback__title {
      font-size: 13px;
   }

   .feedback-img {
      width: 240px;
      height: 471px;
   }

   .droplets-top-wrapper {
      top: -20px;
   }

   .droplets-top {
      width: 233px;
      height: 225px;
   }

   .droplets-bottom {
      width: 133px;
      height: 106px;
   }
}

@media only screen and (max-width: 413px) {
   .head__main-subtitle {
      top: 154px;
      line-height: 28px;
   }

   .head__main button {
      position: absolute;
      z-index: 4;
      top: 247px;
   }
}

@media only screen and (max-width: 410px) {
   .head-hero__title span {
      width: 100%;
   }
}

@media only screen and (max-width: 395px) {
   .head__main-title {
      font-size: 30px;
      line-height: 42px;
   }

   .head__main-subtitle {
      top: 144px;
      font-size: 18px;
   }
}

@media only screen and (max-width: 360px) {
   .feedback__title {
      font-size: 13px;
   }

   .droplets-top-wrapper {
      top: -20px;
   }

   .droplets-top {
      width: 233px;
      height: 225px;
   }

   .droplets-bottom {
      width: 112px;
      height: 89px;
   }
}

@media only screen and (max-width: 348px) {
   .head__main-title {
      font-size: 26px;
      line-height: 42px;
   }

   .head__main-subtitle {
      top: 144px;
      font-size: 18px;
   }

   .feedback-img {
      width: 230px;
      height: 461px;
   }
}

@media only screen and (max-width: 320px) {
   .feedback__title {
      font-size: 13px;
   }

   .droplets-top-wrapper {
      top: -20px;
   }

   .droplets-top {
      width: 233px;
      height: 225px;
   }

   .droplets-bottom {
      width: 99px;
      height: 79px;
   }
}
