/*************************************************************************************************************************************
   # STYLE CSS
*************************************************************************************************************************************/
:root {
/*************************************************************************************************************************************
   # CUSTOM STYLE
*************************************************************************************************************************************/  
   --white: #fff;
   --black: #000;
   --orange: #FE6B01;
   --grey-2D: #2D2D2D;

   /***********************************************************
      # Typography
   ************************************************************/
   --fw-300: 300;
   --fw-400: 400;
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   --fw-800: 800;
   --fw-900: 900;

   /***********************************************************
      # Transition
   ************************************************************/
   --transition-1: 0.25s ease;
   --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);



}


/*************************************************************************************************************************************
   # RESUED
*************************************************************************************************************************************/
.main-container { width: 86%; margin: 0 auto; }
main { position: relative; }
main section { position: relative; z-index: 100; background: transparent; } 

/***********************************************************
   # Buttons
************************************************************/
.btn-primary {
   border: 0;
   background: linear-gradient(180deg, #FFAA6D 0%, #FE6B01 100%);
   border-radius: 10px;
   padding: 17px 89px;

   font-weight: var(--fw-400);
   font-size: 20px;
   line-height: 24px;
   color: var(--grey-2D);
}


/*************************************************************************************************************************************
   # MAIN STYLE
*************************************************************************************************************************************/
/*************************************************************************************************************************************
   # HEAD
*************************************************************************************************************************************/
.head {
   width: 100%;
   padding-block-start: 22px;
   padding-block-end: 450px; 
}

header {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.header-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 38px;
}

.header-menu a {
   font-weight: 700px;
   font-size: 17px;
   line-height: 21px;
   color: var(--black);
   cursor: pointer;
}

.header-group {
   display: flex;
   gap: 47px;
}

.header-group__working-hours {
   display: flex;
   gap: 12px;
}

.working-hours-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.working-hours-txt {
   font-weight: 700px;
   font-size: 17px;
   line-height: 21px;
   color: var(--black);

   display: flex;
   justify-content: center;
   align-items: center;
}

.working-hours-txt span a {
   color: var(--black);
}

.nav-open-btn {
   display: none;
}

.overlay {
   position: fixed;
   inset: 0;
   background-color: hsla(0, 0%, 100%, 0.7);
   opacity: 0;
   transition: var(--transition-1);
   z-index: -1;
}

.overlay.active {
   visibility: visible;
   opacity: 1;
   z-index:44;

}

main > section {
   position: absoliute;
   z-index: 9;
}


.navbar {
   position: fixed;
   top: 0;
   left: -280px;
   max-width: 280px;
   width: 100%;
   height: 100%;
   background-color: var(--grey-2D);
   color: var(--white);
   padding: 30px 20px;
   visibility: hidden;
   transition: 0.25s var(--cubic-out);
   z-index:100;
}

.navbar.active {
   visibility: visible;
   transform: translateX(280px);
   transition-duration: 0.5s;
}

.nav-close-btn { 
   color: var(--white); 
   font-size: 30px;
}

.navbar .navbar-logo-close{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-block-end: 25px;
}

.navbar-link {
   color: var(--white);
   padding-block: 10px;
   transition: var(--transition-1);
}

.navbar-group {
   display: flex;
   flex-direction: column;
   gap: 12px;
   position: absolute;
   bottom: 20px;
   left: 20px;

}

.navbar-group__working-hours, .navbar-group__phone{
   display: flex;
   gap: 12px;
}

.navbar-group__working-hours-txt, .navbar-group__phone-txt {
   color: var(--white);
   font-size: 15px;
}

.navbar-group__phone-txt span a {
   color: var(--white);
}

.navbar-group__img, .navbar-group-phone-img {
   width: 28px;
   height: 27px;
}

.navbar-group__phone-txt {
   display: flex;
   justify-content: center;
   align-items: center;
}

.head-hero {
   width: 100%;
   padding-top: 175px;
   position: relative;
}



.head-hero__title {
   font-weight: 700;
   font-size: 50px;
   line-height: 61px;
   color:var(--grey-2D);
   margin-bottom: 9px;
}

.head-hero__title span {
   width: 60%;
}

.head-hero__subtitle {
   font-weight: 400;
   font-size: 30px;
   line-height: 37px;
   color: var(--grey-2D);

   margin-bottom: 41px;
}

.hero-img {
   position: absolute;
   top: 100px;
   right: 0;
}

.hero-img-mobile {
   display: none;
   position: absolute;
   z-index: -1;
   opacity: 0.6;
   top: 77px;
   right: 0;
}


/***********************************************************
   # Header Overlay
************************************************************/
.head__main {
   position: relative;
}

.head__main-img {
   position: absolute;
   right: 0;
   top: -40%;
}

.head__main-woman-img { 
   position: absolute;
   top: -24%;
   right: 0;
   
   display: none; 
}

.head__main-title {
   width: 50%;
   font-weight: var(--fw-700);
   font-size: 50px;
   line-height: 61px;
   color: var(--grey-2D);

   margin-bottom: 9px;
}

.head__main-subtitle {
   font-weight: var(--fw-400);
   font-size: 30px;
   line-height: 37px;
   color: var(--grey-2D);
   margin-bottom: 41px;
}


.head-services-bg-transparent {
   width: 100%;
   position: absolute;
   top: 440px;
   left: 0;
   z-index: 1;
}

.equip-cert-bg-transparent {
   width: 100%;
   position: absolute;
   left: 0;
   top: 38%;
   z-index: 1;
   opacity: 0.668;
}



/*************************************************************************************************************************************
   # SERVICES
*************************************************************************************************************************************/
.services {
   width: 100%;
   background: linear-gradient(115.35deg, #196D8B 7.28%, #279AC2 32.84%, #196D8B 56.45%, #1F89AF 81.03%, #196D8B 101.68%);
   
   position: relative;
   margin-bottom: 98px;
}

.services__outer {
   width: 100%;
   padding-block: 60px;
}


.services__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 30px;
   color: var(--white);

   display: flex;
   justify-content: center;

   margin-bottom: 86px;
}

.services__flex {
   display: flex; 
   flex-wrap: wrap;

}

.services__flex-item {
   flex: 33.3%;
   display: flex;
   flex-direction: column;
   gap: 14px;

   margin-bottom: 84px;
}

.services__flex-item-img {
   display: flex;
   justify-content: center;
}


.services__flex-item-txt {
   font-weight: var(--fw-700);
   font-size: 17px;
   line-height: 21px;
   text-align: center;
   color: var(--white);

   display: flex;
   justify-content: center;
}

.services__flex-item-txt p {
   width: 64%;
}

.services__btn {
   display: flex;
   justify-content: center;
}



.droplets-top-wrapper {
   position: absolute;
   top: -60px;
   right: 0;
   z-index: -1;
}

.droplets-bottom-wrapper {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
}


/*************************************************************************************************************************************
   # Наши клиенты
*************************************************************************************************************************************/
.our-clients {
   margin-bottom: 139px;
}

.our-clients__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 30px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;

   margin-bottom: 96px;
}


.slick-slide { margin: 0 40px; }


.slick-slider {
   position: relative;
   display: block;
   box-sizing: border-box;
}

.slick-list {
   position: relative;
   display: block;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.slick-track {
   position: relative;
   top: 0;
   left: 0;
   display: block;

}

.slick-slide {
   display: block;
   float: left;
   height: 100%;
   min-height: 1px;
   cursor: pointer;
}

.slick-slide img {
   display: block;
   margin: 0 auto;
}

.slick-initialized .slick-slide {
   display: block;
}

.our-clients__flex {
   position: relative;
}

.prev-arrow {
   position: absolute;
   cursor: pointer;
   top: 42%;
   left: -42px;
   z-index: 6;
}

.next-arrow {
   position: absolute;
   cursor: pointer;
   top: 42%;
   right: -42px;
   z-index: 6;
}







.our-equipment__flex { position: relative; }

.our-equipment__flex-item-img-wrapper {
   display: flex;
   justify-content: center;
   margin-bottom: 16px;
}

.our-equipment__flex-item-img {
   width: 335px;
   height: 258px;

   background: #fff;
   border: 1px solid #CECECE;
   border-radius: 30px;

   display: flex;
   justify-content: center;
   align-items: center;

   box-shadow: -1px 2px 8px 0px #CECECE;
   -webkit-box-shadow: -1px 2px 8px 0px #CECECE;
   -moz-box-shadow: -1px 2px 8px 0px #CECECE;
}

.our-equipment-img {
   border-radius: 30px;
}

.karcher-blue {
   width: 246px;
   height: 240px;
}

.our-equipement__flex-item-title {
   font-weight: 700;
   font-size: 17px;
   line-height: 21px;
   text-align: center;

   display: flex;
   justify-content: center;
}

.our-equipement__flex-item-title span {
   width: 60%;
}


.our-equipment__outer {
   padding-block: 60px 143px;
}

#karcher-gray {
   width: 181px;
   height: 239px;
}



/*************************************************************************************************************************************
   # Сертификаты
*************************************************************************************************************************************/
.certificates {
   background: linear-gradient(115.35deg, #196D8B 7.28%, #279AC2 32.84%, #196D8B 56.45%, #1F89AF 81.03%, #196D8B 101.68%);
   margin-bottom: 79px;

}

.certificates__outer {
   padding-block: 69px 89px;
}

.certificates__title {
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   color: var(--white);

   display: flex;
   justify-content: center;

   margin-bottom: 74px;
}

.certificates__flex-wrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.certificates__flex-item {
   flex: 0 0 33%;
   display: flex;
   gap: 210px;
   justify-content: center;
   margin-bottom: 103px;
}

.certificate-img {
   aspect-ratio: var(--width) / var(--height);
}



/*************************************************************************************************************************************
   # ОТЗЫВЫ
*************************************************************************************************************************************/

.feedback__title {
   width: 100%;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   color: var(--grey-2D);
   display: flex;
   justify-content: center;
   margin-bottom: 99px;
}

.feedback__flex-wrapper {
   display: flex;
   flex-wrap: wrap;
}

.feedback__flex-item {
   flex: 0 0 25%;
   margin-bottom: 99px;
   display: flex;
   justify-content: center;
}

.feedback__flex-slick {
   display: none;
}

.feedback-arrow {
   width: 13px;
   height: 27px;
}

.feedback-slider-arrow-left {
   position: absolute;
   top: 20%;
   left: -28px;
}

.feedback-slider-arrow-right {
   position: absolute;
   top: 20%;
   right: -28px;

}



/*************************************************************************************************************************************
   # FOOTER
*************************************************************************************************************************************/
footer {
   width: 100%;
   background-color: var(--grey-2D);
}

.footer__outer {
   padding-top: 45px;
   padding-bottom: 48px;
}

.footer__inner {
   display: flex;
   position: relative;
   justify-content: space-between;
}

.footer__right {
   display: flex;
   gap: 60px;
}

.footer__right-sections, .footer__right-address, .footer__right-contacts {
   display: flex;
   flex-direction: column;
   gap: 21px;
}

.footer__right-sections-title, .footer__right-address-title, .footer__right-contacts-title {
   font-weight: var(--fw-700);
   font-size: 20px;
   line-height: 24px;
   color: var(--orange);
}

.footer__right-sections a {
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
}

.footer__right-address p {
   width: 80%;
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
}

.footer__right-contacts-title {
   display: flex;
   justify-content: center;
}


.footer__right-contacts-line {
   display: flex;
   gap: 25px;
}

.footer__right-contacts-line-phone {
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
   padding-top: 3px;  
}

.footer__right-contacts-line-phone span a {
   color: var(--white);
}

.footer__right-contacts-social-icons {
   margin-top: 79px;
   display: flex;
   gap: 22px;
}

.footer__right-contacts-social-icons .fa {
   font-size: 30px;
   color: rgb(255,154,5);
   cursor: pointer;
}

.footer__copy {
   display: flex;
   flex-direction: column;
   gap: 17px;

   position: absolute;
   left: 0;
   bottom: 0;
}

.footer__copy a {
   font-weight: var(--fw-300);
   font-size: 17px;
   line-height: 21px;
   color: var(--white);
}