/*************************************************************************************************************************************
   # STYLE CSS
*************************************************************************************************************************************/
:root {
/*************************************************************************************************************************************
   # CUSTOM STYLE
*************************************************************************************************************************************/  
   --white: #fff;
   --black: #000;
   --orange: #FE6B01;
   --grey-2D: #2D2D2D;

   /***********************************************************
      # Typography
   ************************************************************/
   --fw-300: 300;
   --fw-400: 400;
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   --fw-800: 800;
   --fw-900: 900;

}


/*************************************************************************************************************************************
   # RESUED
*************************************************************************************************************************************/
.main-container { width: 80%; margin: 0 auto; }

/***********************************************************
   # Buttons
************************************************************/
.btn-primary {
   border: 0;
   background: linear-gradient(180deg, #FFAA6D 0%, #FE6B01 100%);
   border-radius: 10px;
   padding: 17px 89px;

   font-weight: var(--fw-400);
   font-size: 20px;
   line-height: 24px;
   color: var(--grey-2D);
}


/*************************************************************************************************************************************
   # MAIN STYLE
*************************************************************************************************************************************/
/*************************************************************************************************************************************
   # HEAD
*************************************************************************************************************************************/
.head {
   width: 100%;
   background: var(--white);

   padding-top: 71px;
   padding-bottom: 361px;
}

.head__header { 
   display: flex;
   justify-content: space-between; 
   position: relative;

   margin-bottom: 164px;
}

.head__header-info {
   display: flex;
   gap: 87px;
}

.header-info-working-hours {
   font-weight: var(--fw-300);
   font-size: 17px;
   line-height: 21px;
   color: var(--black);

   display: flex;
   gap: 12px;
}

.header-info-working-hours__txt-data {
   display: flex;
   flex-direction: column;
}

.header-info-tel { display: flex; gap: 12px; }

.header-info-tel__txt-data {
   font-weight: var(--fw-300);
   font-size: 17px;
   line-height: 21px;
   color: var(--black);
}

/***********************************************************
   # Header Mobile
************************************************************/
.head__header-mobile {
   border: 0;
   border-radius: 10px;
   opacity: 1;

   position: absolute;
   top: 20px;
   right: 0;

   display: none;
}

.header-mobile-line {
   width: 44px;
   height: 3px;
   transition: 0.25s ease;

   border: 0;
   background: var(--black);
}

.head__header-mobile.active .line-first { transform: translateY(16px) rotate(45deg); }
.head__header-mobile.active .line-second { visibility: hidden; transition: 0.01s; }
.head__header-mobile.active .line-third { transform: translateY(-16px) rotate(-45deg); }


/***********************************************************
   # Header Overlay
************************************************************/
.overlay {
   width: 100%;
   height: 100vh;
   position: fixed;
   background: var(--white);
   top: 140px;
   left: 0;
   opacity: 0;
   z-index: -1;
}

.head__main {
   position: relative;
}

.head__main-img {
   position: absolute;
   right: 0;
   top: -40%;
}

.head__main-woman-img { 
   position: absolute;
   top: -24%;
   right: 0;
   
   display: none; 
}

.head__main-title {
   width: 50%;
   font-weight: var(--fw-700);
   font-size: 50px;
   line-height: 61px;
   color: var(--grey-2D);

   margin-bottom: 9px;
}

.head__main-subtitle {
   font-weight: var(--fw-400);
   font-size: 30px;
   line-height: 37px;
   color: var(--grey-2D);
   margin-bottom: 41px;
}

/*************************************************************************************************************************************
   # SERVICES
*************************************************************************************************************************************/
.services {
   position: relative;
   margin-bottom: 98px;
}


.services__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 30px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;

   margin-bottom: 86px;
}

.services__flex {
   display: flex; 
   flex-wrap: wrap;

}

.services__flex-item {
   flex: 33.3%;
   display: flex;
   flex-direction: column;
   gap: 14px;

   margin-bottom: 84px;
}

.services__flex-item-img {
   display: flex;
   justify-content: center;
}


.services__flex-item-txt {
   font-weight: var(--fw-700);
   font-size: 17px;
   line-height: 21px;
   text-align: center;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;
}

.services__flex-item-txt p {
   width: 64%;
}

.services__btn {
   display: flex;
   justify-content: center;
}


/*************************************************************************************************************************************
   # Наши клиенты
*************************************************************************************************************************************/
.our-clients {
   margin-bottom: 172px;
}

.our-clients__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 30px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;

   margin-bottom: 96px;
}

.our-clients__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.our-clients__flex-item {
   flex: 0 0 25%;
   margin-bottom: 60px;

   display: flex;
   justify-content: center;
}



.our-equip__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 31px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;

   margin-bottom: 94px;
}

.our-equip__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 115px;

   margin-bottom: 142px;
}

.our-equip__flex-item {
   flex: 0 0 28%;
   display: flex;
   flex-direction: column;

}

.our-equip__flex-item-image {
   height: 282px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   border: 1px solid #CECECE;
   box-shadow: 2px 5px 5px 2px rgba(206,206,206,0.75);
   -webkit-box-shadow: 2px 5px 5px 2px rgba(206,206,206,0.75);
   -moz-box-shadow: 2px 5px 5px 2px rgba(206,206,206,0.75);
   margin-bottom: 16px;
}

.our-equip__flex-item-txt {
   font-weight: var(--fw-700);
   font-size: 17px;
   line-height: 21px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;
}


/*************************************************************************************************************************************
   # Сертификаты
*************************************************************************************************************************************/
.certificates {
   margin-bottom: 124px;
}


.certificates__title {
   font-weight: var(--fw-700);
   font-size: 25px;
   line-height: 30px;
   color: var(--grey-2D);

   display: flex;
   justify-content: center;

   margin-bottom: 123px;
}

.certificates__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 155px;
}

.certificates__flex-item {
   flex: 0 0 18%;
   border-radius: 10px;
   width: 290px;
   height: 200px;
}

.certificate {
   object-fit: cover;
   border-radius: 10px;
   border: 0;
}

/*************************************************************************************************************************************
   # FOOTER
*************************************************************************************************************************************/
footer {
   width: 100%;
   background-color: var(--grey-2D);
}

.footer__outer {
   padding-top: 45px;
   padding-bottom: 48px;
}

.footer__inner {
   display: flex;
   position: relative;
   justify-content: space-between;
}

.footer__right {
   display: flex;
   gap: 60px;
}

.footer__right-sections, .footer__right-address, .footer__right-contacts {
   display: flex;
   flex-direction: column;
   gap: 21px;
}

.footer__right-sections-title, .footer__right-address-title, .footer__right-contacts-title {
   font-weight: var(--fw-700);
   font-size: 20px;
   line-height: 24px;
   color: var(--orange);
}

.footer__right-sections a {
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
}

.footer__right-address p {
   width: 80%;
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
}

.footer__right-contacts-title {
   display: flex;
   justify-content: center;
}


.footer__right-contacts-line {
   display: flex;
   gap: 25px;
}

.footer__right-contacts-line-phone {
   color: var(--white);
   font-weight: var(--fw-400);
   font-size: 17px;
   line-height: 21px;
   padding-top: 3px;  
}

.footer__right-contacts-social-icons {
   margin-top: 79px;
   display: flex;
   gap: 22px;
}

.footer__right-contacts-social-icons .fa {
   font-size: 30px;
   color: rgb(255,154,5);
   cursor: pointer;
}

.footer__copy {
   display: flex;
   flex-direction: column;
   gap: 17px;

   position: absolute;
   left: 0;
   bottom: 0;
}

.footer__copy a {
   font-weight: var(--fw-300);
   font-size: 17px;
   line-height: 21px;
   color: var(--white);
}